body {
    background: url('/umk/images/noise.png');
    font-family: 'Yle Regular';
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Yle Regular';
}

.container {
    padding-top: 20px;
    z-index: 10;
    background: url('/umk/images/noise.png');
}

h1 {
    font-size: 40px;
}

h1, h2, h3 {
    margin-bottom: 2px;
    margin-top: 25px;
}

.artist h2  {
    font-family: 'Yle Regular';
    margin-bottom: 5px;
    font-size: 23px;
}

.artist img, .artist-single img {
    max-width: 100%;
}

.artist .chart {
    height: 200px;
}

.artist .total {
    text-align: center;
}

.timeseries-chart h2 {
    display: inline-block;
}

.artist .metric {
    display: block;
    text-align: center;
}

.metric {
    display: inline;
}

.timeseries-chart .chart {
    margin-top: 13px;
}

.artist .metric {
    display: block;
}

.metric span {
    display: inline-block;
    font-size: 34px;
    background-color: #DDEAEE;
    padding: .15em .3em .15em;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.positive {
    color: #12B812;
}

.negative{
    color:#E61717
}

span.hidden {
    display: none;
}

.artist a, .artist a:visited, .artist-name {
    color: #FF00EF;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #FF00EF;
}

.nav > li a {
    font-weight: bold;
}

.nav > li > a {
    padding: 6px 14px;
}

.chart {
    height: 360px;
}

.tweet {
    min-height: 51px;
    padding: 9px 12px;
}

.tweet .user-image {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
}

.tweet .tweet-content {
    margin-left: 58px;
    min-height: 54px;
}

.tweet-content p {
    color: #5B5B5B;
    font-size: 17px;
    line-height: 1.4;
    margin-top: 5px;
}

.tweet .name {
    font-weight: bold;
    font-size: 16px;
}

.tweet .screen-name {
    font-size: 14px;
    color: #999;
}

.tweet .time {
    font-size: 14px;
    position: relative;
    float: right;
    margin-top: 1px;
    color: #bbb;
}

.artist {
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Yle Regular';
    src: url('/umk/fonts/yle-regular-fd.eot');
    src: url('/umk/fonts/yle-regular-fd.eot?#iefix')
        format('embedded-opentype'),
        url('/umk/fonts/yle-regular-fd.woff') format('woff'),
        url('/umk/fonts/yle-regular-fd.ttf') format('truetype');
}

.stripe {
    top: 0;
    position: fixed;
    background-image: url('/umk/images/stripe.png');
    background-repeat: repeat-y;
    height: 100%;
    width: 200px;
    float: left;
    z-index: -1;
}


@media (max-width: 991px) {
    .container {
        max-width: 540px;
    }
}

.placeholder {
    width: 570px;
    height: 420px;
}

@media (max-width: 1600px) {
    .stripe {
        width: 100px;
    }
}

@media (max-width: 1400px) {
    .stripe {
        width: 50px;
    }
}

@media (max-width: 1100px) {
    .stripe {
        width: 30px;
    }
}

@media (max-width: 1250px) and (min-width: 1200px) {
    .stripe {
        width: 10px;
    }
}

@media (max-width: 1050px) and (min-width: 1000px) {
    .stripe {
        width: 10px;
    }
}