h2 {
    font-size: 28px;
}

img {
    width: 100%;
}

.artist .chart {
    height: 200px;
}

.artist .total, .artist h2 {
    text-align: center;
}



body {
    background: url('/umk/images/noise.png');
}

@media (min-width: 992px) {
    .artist .image-wrapper {
        height: 195px;
    }
}
