body {
    background: url('/umk/images/noise.png');
    font-family: 'Yle Regular';
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Yle Regular';
}

.container {
    padding-top: 20px;
    z-index: 10;
    background: url('/umk/images/noise.png');
}

h1 {
    font-size: 40px;
}

h1, h2, h3 {
    margin-bottom: 2px;
    margin-top: 25px;
}

.artist h2  {
    font-family: 'Yle Regular';
    margin-bottom: 5px;
    font-size: 23px;
}

.artist img, .artist-single img {
    max-width: 100%;
}

.artist .chart {
    height: 200px;
}

.artist .total {
    font-size: 34px;
    text-align: center;
    margin: 1em 0 0.5em 0;
}

.total span {
    background-color: #DDEAEE;
    padding: .15em .3em .15em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.artist a, .artist a:visited, .artist-name {
    color: #FF00EF;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #FF00EF;
}

.nav > li a {
    font-weight: bold;
}

.nav > li > a {
    padding: 6px 14px;
}

.chart {
    height: 360px;
}

#tweets {
    border-radius: 6px;
    border: 1px solid #e8e8e8;
}

.tweet {
    min-height: 51px;
    padding: 9px 12px;
    border-bottom: 1px solid #e8e8e8;
}

#tweets:last-child {
    border-bottom: none;
}

.tweet .user-image {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
}

.tweet .tweet-content {
    margin-left: 58px;
    min-height: 54px;
}

.tweet .name {
    font-weight: bold;
}

.tweet .screen-name {
    font-size: 12px;
    color: #999;
}

.tweet .time {
    font-size: 12px;
    position: relative;
    float: right;
    margin-top: 1px;
    color: #bbb;
}

.artist {
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Yle Regular';
    src: url('/umk/fonts/yle-regular-fd.eot');
    src: url('/umk/fonts/yle-regular-fd.eot?#iefix')
        format('embedded-opentype'),
        url('/umk/fonts/yle-regular-fd.woff') format('woff'),
        url('/umk/fonts/yle-regular-fd.ttf') format('truetype');
}

.stripe {
    top: 0;
    position: fixed;
    background-image: url('/umk/images/stripe.png');
    background-repeat: repeat-y;
    height: 100%;
    width: 200px;
    float: left;
    z-index: -1;
}


@media (max-width: 991px) {
    .container {
        max-width: 540px;
    }
}