body {
    background: transparent;
}

.container {
    background: transparent;
}

h2, h5 {
    color: #818181;
    margin-left: 9px;
}

.metric {
    color: white;
}

.metric span {
    background-color: #9ed4e6;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
